/* Fuentes local */
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";

@import "@fontsource/nunito/400.css";
@import "@fontsource/nunito/600.css";
@import "@fontsource/nunito/700.css";

/*theme.css */
:root {
  /* 
     Colores
      */

  /* Ramas */
  --colorprimary: #0c3c34;
  --colorsecondary: #e8f5e9;

  /* Estados */
  --colorinfo: #2f80ed;
  --colorsuccess: #27ae60;
  --colorwarning: #e2b93b;
  --colorerror: #eb5757;

  /* Negros/Blancos */
  --colorblack-1: #000000;
  --colorblack-2: #1d1d1d;
  --colorblack-3: #282828;
  --colorwhite: #ffffff;

  /* Grises */
  --colorgrey-1: #333333;
  --colorgrey-2: #4f4f4f;
  --colorgrey-3: #555555;
  --colorgrey-4: #666666;
  --colorgrey-5: #e0e0e0;
  --colorgrey-6: #d5d5d5;

  /* CheckBx */
  --coloraccent: #b1e9de; /* checkbox/desc bg */
  --dropshadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);

  /* 
     Tipografías
     */
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;

  /* Heading 1  */
  --heading-h1-font-size: 36px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 700;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 120%;

  /* Heading 2  */
  --heading-h2-font-size: 28px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 600;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 120%;

  /* Heading 5  */
  --heading-h5-font-size: 24px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 600;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 110%;

  /* Body */
  --body-text-line-height: 150%;

  /* Tokens útiles para layout */
  --radius: 12px;
}
